.place {
  display: grid;
  grid-template-areas:
    'title website'
    'image description';
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 5%;
  margin-bottom: 73px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-areas:
      'title'
      'website'
      'image'
      'description';
    grid-template-columns: 1fr;
    grid-gap: 32px;
    margin-bottom: 50px;
  }
}

