.place {
  width: 100%;
  display: grid;
  grid-template-areas:
    'title'
    'website'
    'image'
    'description';
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-bottom: 50px;
}

@media all and (min-width: 767px) {
  .place {
    grid-template-areas:
    'title website'
    'image description';
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    margin-bottom: 73px;
  }
  .place:last-child {
    margin-bottom: 0;
  }
}

@media all and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}

@media all and (min-width: 1280px) {
  .place {

  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;

  }

}


